body {
    background: #000;
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }
  
  .skeleton h1 {
    color: #00ff00;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
  }

  .typewriter h1 {
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }

  .typewriter2 h1 { 
    animation: 
      typing2 0.875s steps(8, end),
      blink-caret .5s step-end infinite;
  }

  .typewriter3 h1 {
    animation: 
      typing3 1.4s steps(12, end),
      blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes typing2 {
    from { width: 75% }
    to { width: 100% }
  }

  @keyframes typing3 {
    from { width: 60% }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #00ff00 }
  }